{% extends "base.html" %}

{% block title %}
Project -- Welcome
{% endblock %}

<!--<!doctype html>-->
<!--<html>-->
<!--<head lang="en">-->
<!--    <title>Feedback</title>-->
<!--</head>-->
{% block content %}

<section>
    <form action="" method="post">
        <p>
            Please submit your feedback :
            <input type="text" name="url">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
</section>
</html>
{% endblock %}

{% block sidebar %}
{% endblock %}

